<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить режиссера</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить режиссера</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/directors/add}" th:object="${directorForm}">
        <div class="mb-3">
            <label for="fio" class="form-label">ФиО</label>
            <!--            Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
            <input name="fio" type="text" class="form-control" id="fio">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <input name="description" type="text" class="form-control" id="description">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="amount" class="form-label">Количество страниц</label>-->
<!--            <input name="amount" type="number" class="form-control" id="amount">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="description" class="form-label">Описание</label>-->
<!--            <input name="description" type="text" class="form-control" id="description">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
            <label for="date" class="form-label">Дата рождения</label>
            <input name="birthDay" type="text" class="form-control" id="date">
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="genre" class="form-label">Жанр</label>-->
<!--            <select class="form-select" name="genre" id="genre">-->
<!--                <option selected>Выберете жанр из списка:</option>-->
<!--                <option th:each="genre : ${T(com.sber.java13spring.java13springproject.libraryproject.model.Genre).values()}"-->
<!--                        th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>-->
<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>