<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Режиссеры фильмотеки</title>
  <style>
    .directors-link {
      text-decoration: none;
    }

    .directors-link:hover {
      color: #001445;
    }

    .not-enough-directors {
      color: red;
    }
  </style>

</head>
<body>
<div layout:fragment="content">
  <h1>Все режиссеры фильмотеки</h1>
  <div class="row">
    <div class="col">
      <a href="directors/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить режиссера</a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Ф И О</th>
      <th scope="col">Дата рождения</th>

      <th scope="col">Описание</th>
      <th scope="col">Название фильма</th>
<!--      <th scope="col">Место хранения</th>-->
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="director : ${directors}">
      <td>
        <a class="directors-link" th:href="'/directors/' + ${director.getId()}" th:text="${director.getFio()}">ФиО режиссера</a>

      </td>
      <td th:text="${director.getBirthDay()}"></td>
      <td th:text="${director.getDescription()}"></td>
<!--      <div class="mb-3">-->
<!--        <label for="film" class="form-label">Фильм</label>-->
<!--        <select class="form-select" name="film" id="film">-->
<!--          <option selected>Выберете фильм из списка:</option>-->
<!--          <option th:each="film : ${T(com.sber.java13spring.java13springproject.filmlibraryproject.model.Genre).values()}"-->
<!--                  th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <td  th:text="${films.getAmount()} <= 0 ? 'Нет в наличии' : ${films.getAmount()}"-->

<!--           th:classappend="${films.getAmount() <= 0}? 'not-enough-film'"></td>-->
<!--      <td th:text="${films.getPublishYear()}"></td>-->
      <td>
        <ul>
          <li th:each="film : ${director.getFilms()}" th:text="${film.getFilmTitle()}"></li>
        </ul>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>
