<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Фильмы фильмотеки</title>


  <!DOCTYPE html>
  <html lang="ru"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8">
    <title>Фильмы фильмотеки</title>
  </head>
<body>
<div layout:fragment="content">
  <div>
    <hr class="hr"/>
    <h3>Поиск книги</h3>
    <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
      <div class="mt-0 row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input name="filmTitle" type="text" class="form-control" id="filmTitle" placeholder="Название фильма">
            <label for="filmTitle">Название книги</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input name="authorFio" type="text" class="form-control" id="authorFio" placeholder="ФИО автора">
            <label for="authorFio">Автор</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" name="genre" id="genre">
              <option selected th:value="null">Выберете жанр из списка</option>
              <option th:each="genre : ${T(com.sber.java13spring.java13springproject.filmlibraryproject.model.Genre).values()}"
                      th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
            </select>
            <label for="genre">Жанр</label>
          </div>
        </div>
        <div class="row g-2">
          <button type="submit" class="btn btn-secondary">Найти фильм</button>
        </div>
      </div>
    </form>
  </div>
  <hr class="mt-3 hr"/>
  <div class="mt-5">
    <div class="row">
      <div class="col">
        <h2>Все фильмы фильмотеки</h2>
      </div>
      <div class="col">
        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
           href="books/add"
           class="btn btn-success"
           role="button"
           style="float: right"
           aria-disabled="true">Добавить фильм</a>
      </div>
    </div>
    <div>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Жанр</th>
          <th scope="col">Место хранения</th>
          <th scope="col">Количество</th>
          <th scope="col">Дата публикации</th>
          <th scope="col">Автор(ы)</th>
          <th scope="col">Онлайн копия</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
          <td>
            <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getFilmTitle()}"></a>
          </td>
          <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
          <td th:text="${film.getStoragePlace()}"></td>
          <td th:classappend="${film.getAmount() <= 0} ? 'not-enough-book'"
              th:text="${film.getAmount()} <= 0 ? 'Нет в наличии' : ${film.getAmount()}"></td>
          <td th:text="${film.getPublishYear()}"></td>
          <td>
            <ul>
              <li th:each="director : ${film.getDirectors()}" th:text="${director.getFio()}"></li>
            </ul>
          </td>
          <!--                    <td>-->
          <!--                        <a class="text-link text-blue" th:if="${book.getOnlineCopyPath()} != null" th:href="@{|/books/download?bookId=${book.id}|}">-->
          <!--                            <span>Скачать книгу</span>-->
          <!--                        </a>-->
          <!--                    </td>-->
          <td>
            <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
              <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>
              <a class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}">Удалить</a>
            </div>
            <a th:if="${film.getAmount() > 0}" sec:authorize="!hasRole('ADMIN')" class="btn btn-sm btn-outline-success"
               th:href="'/publish/get-film/' + ${film.id}">Арендовать фильм</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
          <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : films.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
              th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
            <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
          </li>
          <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/films?page={id}(id=${films.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>
</html>
